.App {
  text-align: center;
}

.app-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.form-container {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.field-container {
  margin-top: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}

.field-container .error {
  margin: 0;
  font-size: 14px;
  color: crimson;
}

form .submit {
  width: 150px;
  margin-top: 15px;
  align-self: center;
} 